openapi: 3.2.0
info:
  title: Platform Data Query API
  description: Management API for the Amigo platform. Provides CRUD operations for workspaces, API keys, and resources.
  version: 1.0.0
servers:
- url: https://api.platform.amigo.ai
  description: Production
security:
- BearerAuth: []
tags:
- name: Data Query
paths:
  /v1/{workspace_id}/query/{schema}/{table}:
    get:
      tags:
      - Data Query
      summary: Query Table
      description: Query a table with PostgREST-style filtering, sorting, and pagination.
      operationId: query_table_v1__workspace_id__query__schema___table__get
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Workspace Id
      - name: schema
        in: path
        required: true
        schema:
          type: string
          title: Schema
      - name: table
        in: path
        required: true
        schema:
          type: string
          title: Table
      - name: select
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Select
      - name: order
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Order
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          default: 20
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataQueryResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    DataQueryResponse:
      properties:
        items:
          items:
            additionalProperties: true
            type: object
          type: array
          title: Items
        count:
          type: integer
          title: Count
        has_more:
          type: boolean
          title: Has More
      type: object
      required:
      - items
      - count
      - has_more
      title: DataQueryResponse
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key issued via `POST /v1/{workspace_id}/api-keys`. Pass the returned `api_key` value as a Bearer token.
