openapi: 3.1.0
info:
  title: Amigo Account User API
  version: 0.1.0
servers:
- url: https://api.amigo.ai
- url: https://internal-api.amigo.ai
- url: https://api-eu-central-1.amigo.ai
- url: https://api-ap-southeast-2.amigo.ai
- url: https://api-ca-central-1.amigo.ai
security:
- Bearer-Authorization: []
  Bearer-Authorization-Organization: []
  Basic: []
tags:
- name: User
paths:
  /v1/{organization}/user/:
    post:
      tags:
      - User
      summary: Create a new user
      description: 'Invite a user to the Amigo platform. The endpoint will create a new user in the organization, linked to the

        supplied email address. The created user will remain in the unverified status and will not have access to most of Amigo''s services.


        If `login_link` is not-`None`, an email containing it will be sent to the user''s email with descriptions indicating that this would allow the user to login

        and start their Amigo experience. Otherwise, no email will be sent.


        #### Permissions

        This endpoint requires the following permissions:

        * `User:InviteUser` on the user to invite.

        * The authenticated user must have greater privileges than the role assigned to the new user.'
      operationId: create-invited-user
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__user__create_invited_user__Request'
      responses:
        '201':
          description: Succeeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__user__create_invited_user__Response'
        '409':
          description: User with the same email already exists in this organization, or a related operation is in progress.
        '404':
          description: Specified organization or role is not found.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
    get:
      tags:
      - User
      summary: Get users
      description: 'Retrieve all users in an organization.


        #### Permissions

        This endpoint is impacted by the following permissions:

        * Only users that the authenticated user has the `User:GetUserInfo` permission for are returned.'
      operationId: get-users
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: user_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The ID of the user.
          default: []
          title: User Id
        description: The ID of the user.
      - name: email
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            format: email
          description: The email of the user.
          default: []
          title: Email
        description: The email of the user.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 0
          description: The maximum number of users to retrieve.
          default: 100
          title: Limit
        description: The maximum number of users to retrieve.
      - name: continuation_token
        in: query
        required: false
        schema:
          type: integer
          description: The token from the previous request to return the next page of users.
          default: 0
          title: Continuation Token
        description: The token from the previous request to return the next page of users.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The fields to sort the sets by. Supported fields are `first_name`, `last_name`, `email`, `user_stats.num_conversations`, `user_stats.num_messages`, and `user_stats.last_message_time`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
          default: []
          title: Sort By
        description: The fields to sort the sets by. Supported fields are `first_name`, `last_name`, `email`, `user_stats.num_conversations`, `user_stats.num_messages`, and `user_stats.last_message_time`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__user__get_users__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 60 requests per minute for this endpoint.
  /v1/{organization}/user/signin_with_api_key:
    post:
      tags:
      - User
      summary: Sign in with API key
      description: 'Given an organization API key, issue an authorization token for the specified user. The token should then be attached to the `Authorization` header in subsequent Amigo API calls.


        This is an alternative authorization method for users who cannot use the Amigo frontend to login and authenticate.'
      operationId: sign-in-with-api-key
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-api-key
        in: header
        required: true
        schema:
          type: string
          description: The value of the API key.
          title: X-Api-Key
        description: The value of the API key.
      - name: x-api-key-id
        in: header
        required: true
        schema:
          type: string
          description: The ID of the API key.
          title: X-Api-Key-Id
        description: The ID of the API key.
      - name: x-user-id
        in: header
        required: true
        schema:
          type: string
          description: The ID of the user to sign in as.
          title: X-User-Id
        description: The ID of the user to sign in as.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__user__sign_in_with_api_key__Response'
        '404':
          description: Specified organization is not found.
        '401':
          description: API key not found, is incorrect, or the requested user is not found.
        '422':
          description: Invalid request path parameter failed validation.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 5 requests per minute for this endpoint.
      security:
      - API-Key-Authorization-Key: []
        API-Key-Authorization-ID: []
        API-Key-Authorization-UserID: []
  /v1/{organization}/user/signin:
    post:
      tags:
      - User
      summary: Sign in with email
      description: Send a magic link to the user's email to sign in. If the specified email doesn't correspond to an user, the endpoint succeeds silently.
      operationId: sign-in-with-email
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__user__sign_in_with_email__Request'
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema: {}
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '503':
          description: The service is going through temporary maintenance.
      security: []
  /v1/{organization}/user/{requested_user_id}:
    post:
      tags:
      - User
      summary: Update user info
      description: 'Update information about an user. Only fields that are specified in the request are updated.


        #### Permissions

        This endpoint requires the following permissions:

        * `User:UpdateUserInfo` for the user to update.'
      operationId: update-user-info
      parameters:
      - name: requested_user_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the user to update information for.
          title: Requested User Id
        description: The identifier of the user to update information for.
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__user__update_user_info__Request'
      responses:
        '204':
          description: Succeeded.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '404':
          description: Specified organization or user is not found.
        '409':
          description: A related operation is in progress.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
    delete:
      tags:
      - User
      summary: Delete an user
      description: 'Delete an user. This endpoint deletes the user from the Amigo system.


        #### Permissions

        This endpoint requires the following permissions:

        * `User.DeleteUser` on the user to delete.'
      operationId: delete-user
      parameters:
      - name: requested_user_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the user to delete.
          title: Requested User Id
        description: The identifier of the user to delete.
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '204':
          description: Succeeded.
        '404':
          description: Specified organization or user is not found.
        '400':
          description: The user is currently active in Actions development.
        '422':
          description: Invalid request path parameter failed validation.
        '409':
          description: A related operation is in progress.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 500 requests per minute for this endpoint.
  /v1/{organization}/user/{user_id}/user_model:
    get:
      tags:
      - User
      summary: Get user model
      description: 'Retrieve the user models for an user.


        #### Permissions

        This endpoint requires the following permissions:

        * `User:GetUserModel` for the user to retrieve the user models for.'
      operationId: get-user-model
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the user whose user models to retrieve.
          title: User Id
        description: The ID of the user whose user models to retrieve.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__user__get_user_model__Response'
        '404':
          description: Specified organization or user is not found.
        '422':
          description: Invalid request path parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 60 requests per minute for this endpoint.
  /v1/{organization}/user/{user_id}/memory:
    get:
      tags:
      - User
      summary: Get memories
      description: 'Retrieve memories for the specified users.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only memories with references that the authenticated user has the `Conversation:GetMessage` permission on will be returned.'
      operationId: get-memories
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the user to retrieve memories for.
          title: User Id
        description: The ID of the user to retrieve memories for.
      - name: id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the memories to retrieve.
          default: []
          title: Id
        description: The IDs of the memories to retrieve.
      - name: conversation_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the conversations to retrieve memories from.
          default: []
          title: Conversation Id
        description: The IDs of the conversations to retrieve memories from.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          minimum: 0
          description: The maximum number of memories to retrieve.
          default: 50
          title: Limit
        description: The maximum number of memories to retrieve.
      - name: continuation_token
        in: query
        required: false
        schema:
          type: integer
          description: The token from the previous request to return the next page of memories.
          default: 0
          title: Continuation Token
        description: The token from the previous request to return the next page of memories.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The fields to sort the sets by. Supported fields are `conversation_id` and `created_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
          default: []
          title: Sort By
        description: The fields to sort the sets by. Supported fields are `conversation_id` and `created_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__user__get_memories__Response'
        '404':
          description: Specified organization or user is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 40 requests per minute for this endpoint.
  /v1/{organization}/user/search/:
    get:
      tags:
      - User
      summary: Search users
      description: 'Search users in the organization using their names or emails.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only users that the authenticated user has the `User:GetUserInfo` permission for will be returned.'
      operationId: search-users
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: query
        in: query
        required: true
        schema:
          type: string
          description: The search query. Any users whose name or email contains the query are returned.
          title: Query
        description: The search query. Any users whose name or email contains the query are returned.
      - name: user_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The IDs of the users.
          default: []
          title: User Id
        description: The IDs of the users.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__user__search_users__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
  /v1/{organization}/user/{requested_user_id}/variable:
    post:
      tags:
      - User
      summary: Modify the variables of an user
      description: 'Upsert or delete the user''s variables. These changes are only reflected in tool invocations that are not yet made.


        #### Permissions

        This endpoint requires the following permissions:

        * `User:UpdateUserInfo` for the user to modify variables for.'
      operationId: modify-user-variables
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: requested_user_id
        in: path
        required: true
        schema:
          type: string
          description: The identifier of the user to update information for.
          title: Requested User Id
        description: The identifier of the user to update information for.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__user__modify_user_variables__Request'
      responses:
        '204':
          description: Succeeded.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '404':
          description: Specified organization or user is not found.
        '400':
          description: One or more variables to delete do not exist, or the user has exceeded the limit of 20 nonsensitive variables.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
components:
  schemas:
    _NotSet:
      properties: {}
      type: object
      title: _NotSet
      description: A specific type to indicate that a field is not set in the request.
    UserStats:
      properties:
        num_conversations:
          type: integer
          title: Num Conversations
          description: The number of conversations the user has created.
        num_messages:
          type: integer
          title: Num Messages
          description: The number of messages the user has sent and received.
        last_message_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Message Time
          description: The time of the last message the user sent or received. If `None`, the user hasn't started any conversations.
      type: object
      required:
      - num_conversations
      - num_messages
      - last_message_time
      title: UserStats
    amigo_lib__pydantic__base_model__StrippedNonemptyString__1:
      type: string
      minLength: 1
    src__app__endpoints__user__sign_in_with_api_key__Response:
      properties:
        id_token:
          type: string
          title: Id Token
          description: The ID token that should be attached to the Authorization header for future API calls.
        expires_at:
          type: string
          format: date-time
          title: Expires At
          description: The time at which the token expires.
      type: object
      required:
      - id_token
      - expires_at
      title: SigninWithAPIKeyResponse
    src__app__endpoints__user__sign_in_with_email__Request:
      properties:
        redirect_link:
          type: string
          minLength: 1
          format: uri
          title: Redirect Link
          description: An Amigo platform link that the user gets redirected to after clicking the login link.
        email:
          type: string
          format: email
          title: Email
          description: Email of the user. This must correspond to an existing, verified user in the Amigo platform.
      type: object
      required:
      - redirect_link
      - email
      title: Request
    StrippedNonemptyString_a-z-_____a-z-____0_2____:
      type: string
      minLength: 1
      pattern: ^[a-z-]+( [a-z-]+){0,2}$
    src__app__endpoints__user__search_users__Response:
      properties:
        users:
          items:
            $ref: '#/components/schemas/src__app__endpoints__user__search_users__Response__UserInstance'
          type: array
          title: Users
          description: Users in this organization.
      type: object
      required:
      - users
      title: Response
    src__app__endpoints__user__modify_user_variables__Request__DeleteRequest:
      properties:
        name:
          $ref: '#/components/schemas/StrippedNonemptyString_a-z___a-z0-9_______'
          description: The name of the variable to delete.
      type: object
      required:
      - name
      title: DeleteRequest
    src__app__endpoints__user__create_invited_user__Response:
      properties:
        user_id:
          type: string
          title: User Id
          description: The identifier of the new user.
        verify_link:
          anyOf:
          - type: string
          - type: 'null'
          title: Verify Link
          description: The link sent to the user. Only present if `login_link` is `True` in the request.
      type: object
      required:
      - user_id
      - verify_link
      title: Response
    StrippedNonemptyString_a-z___a-z0-9___lambda__at_0xffff718d0a90__:
      type: string
      minLength: 1
      pattern: ^[a-z_][a-z0-9_]+$
    src__app__endpoints__user__update_user_info__Request:
      properties:
        first_name:
          anyOf:
          - $ref: '#/components/schemas/amigo_lib__pydantic__base_model__StrippedNonemptyString__1'
          - type: 'null'
          description: The first name of the user to update. If `null`, the first name is not modified.
        last_name:
          anyOf:
          - $ref: '#/components/schemas/amigo_lib__pydantic__base_model__StrippedNonemptyString__1'
          - type: 'null'
          description: The last name of the user to update. If `null`, the last name is not modified.
        enable_response_recommendation:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Enable Response Recommendation
          description: Whether to automatically recommend responses to the user if the user hasn't replied to the coach for a while. If `null`, the preference is not modified.
        preferred_language:
          anyOf:
          - type: string
            enum:
            - aaa
            - aab
            - aac
            - aad
            - aae
            - aaf
            - aag
            - aah
            - aai
            - aak
            - aal
            - aan
            - aao
            - aap
            - aaq
            - aar
            - aas
            - aat
            - aau
            - aaw
            - aax
            - aaz
            - aba
            - abb
            - abc
            - abd
            - abe
            - abf
            - abg
            - abh
            - abi
            - abj
            - abk
            - abl
            - abm
            - abn
            - abo
            - abp
            - abq
            - abr
            - abs
            - abt
            - abu
            - abv
            - abw
            - abx
            - aby
            - abz
            - aca
            - acb
            - acd
            - ace
            - acf
            - ach
            - aci
            - ack
            - acl
            - acm
            - acn
            - acp
            - acq
            - acr
            - acs
            - act
            - acu
            - acv
            - acw
            - acx
            - acy
            - acz
            - ada
            - adb
            - add
            - ade
            - adf
            - adg
            - adh
            - adi
            - adj
            - adl
            - adn
            - ado
            - adq
            - adr
            - ads
            - adt
            - adu
            - adw
            - adx
            - ady
            - adz
            - aea
            - aeb
            - aec
            - aed
            - aee
            - aek
            - ael
            - aem
            - aen
            - aeq
            - aer
            - aes
            - aeu
            - aew
            - aey
            - aez
            - afb
            - afd
            - afe
            - afg
            - afh
            - afi
            - afk
            - afn
            - afo
            - afp
            - afr
            - afs
            - aft
            - afu
            - afz
            - aga
            - agb
            - agc
            - agd
            - age
            - agf
            - agg
            - agh
            - agi
            - agj
            - agk
            - agl
            - agm
            - agn
            - ago
            - agq
            - agr
            - ags
            - agt
            - agu
            - agv
            - agw
            - agx
            - agy
            - agz
            - aha
            - ahb
            - ahg
            - ahh
            - ahi
            - ahk
            - ahl
            - ahm
            - ahn
            - aho
            - ahp
            - ahr
            - ahs
            - aht
            - aia
            - aib
            - aic
            - aid
            - aie
            - aif
            - aig
            - aih
            - aii
            - aij
            - aik
            - ail
            - aim
            - ain
            - aio
            - aip
            - aiq
            - air
            - ait
            - aiw
            - aix
            - aiy
            - aja
            - ajg
            - aji
            - ajn
            - ajp
            - ajs
            - aju
            - ajw
            - ajz
            - aka
            - akb
            - akc
            - akd
            - ake
            - akf
            - akg
            - akh
            - aki
            - akj
            - akk
            - akl
            - akm
            - ako
            - akp
            - akq
            - akr
            - aks
            - akt
            - aku
            - akv
            - akw
            - akx
            - aky
            - akz
            - ala
            - alc
            - ald
            - ale
            - alf
            - alh
            - ali
            - alj
            - alk
            - all
            - alm
            - aln
            - alo
            - alp
            - alq
            - alr
            - als
            - alt
            - alu
            - alw
            - alx
            - aly
            - alz
            - ama
            - amb
            - amc
            - ame
            - amf
            - amg
            - amh
            - ami
            - amj
            - amk
            - aml
            - amm
            - amn
            - amo
            - amp
            - amq
            - amr
            - ams
            - amt
            - amu
            - amv
            - amw
            - amx
            - amy
            - amz
            - ana
            - anb
            - anc
            - and
            - ane
            - anf
            - ang
            - anh
            - ani
            - anj
            - ank
            - anl
            - anm
            - ann
            - ano
            - anp
            - anq
            - anr
            - ans
            - ant
            - anu
            - anv
            - anw
            - anx
            - any
            - anz
            - aoa
            - aob
            - aoc
            - aod
            - aoe
            - aof
            - aog
            - aoi
            - aoj
            - aok
            - aol
            - aom
            - aon
            - aor
            - aos
            - aot
            - aou
            - aox
            - aoz
            - apb
            - apc
            - apd
            - ape
            - apf
            - apg
            - aph
            - api
            - apj
            - apk
            - apl
            - apm
            - apn
            - apo
            - app
            - apq
            - apr
            - aps
            - apt
            - apu
            - apv
            - apw
            - apx
            - apy
            - apz
            - aqc
            - aqd
            - aqg
            - aqk
            - aqm
            - aqn
            - aqp
            - aqr
            - aqt
            - aqz
            - ara
            - arb
            - arc
            - ard
            - are
            - arg
            - arh
            - ari
            - arj
            - ark
            - arl
            - arn
            - aro
            - arp
            - arq
            - arr
            - ars
            - aru
            - arv
            - arw
            - arx
            - ary
            - arz
            - asa
            - asb
            - asc
            - ase
            - asf
            - asg
            - ash
            - asi
            - asj
            - ask
            - asl
            - asm
            - asn
            - aso
            - asp
            - asq
            - asr
            - ass
            - ast
            - asu
            - asv
            - asw
            - asx
            - asy
            - asz
            - ata
            - atb
            - atc
            - atd
            - ate
            - atg
            - ati
            - atj
            - atk
            - atl
            - atm
            - atn
            - ato
            - atp
            - atq
            - atr
            - ats
            - att
            - atu
            - atv
            - atw
            - atx
            - aty
            - atz
            - aua
            - aub
            - auc
            - aud
            - aug
            - auh
            - aui
            - auj
            - auk
            - aul
            - aum
            - aun
            - auo
            - aup
            - auq
            - aur
            - aut
            - auu
            - auw
            - aux
            - auy
            - auz
            - ava
            - avb
            - avd
            - ave
            - avi
            - avk
            - avl
            - avm
            - avn
            - avo
            - avs
            - avt
            - avu
            - avv
            - awa
            - awb
            - awc
            - awe
            - awg
            - awh
            - awi
            - awk
            - awm
            - awn
            - awo
            - awr
            - aws
            - awt
            - awu
            - awv
            - aww
            - awx
            - awy
            - axb
            - axe
            - axg
            - axk
            - axl
            - axm
            - axx
            - aya
            - ayb
            - ayc
            - ayd
            - aye
            - ayg
            - ayh
            - ayi
            - ayk
            - ayl
            - aym
            - ayn
            - ayo
            - ayp
            - ayq
            - ayr
            - ays
            - ayt
            - ayu
            - ayz
            - aza
            - azb
            - azd
            - aze
            - azg
            - azj
            - azm
            - azn
            - azo
            - azt
            - azz
            - baa
            - bab
            - bac
            - bae
            - baf
            - bag
            - bah
            - baj
            - bak
            - bal
            - bam
            - ban
            - bao
            - bap
            - bar
            - bas
            - bau
            - bav
            - baw
            - bax
            - bay
            - bba
            - bbb
            - bbc
            - bbd
            - bbe
            - bbf
            - bbg
            - bbh
            - bbi
            - bbj
            - bbk
            - bbl
            - bbm
            - bbn
            - bbo
            - bbp
            - bbq
            - bbr
            - bbs
            - bbt
            - bbu
            - bbv
            - bbw
            - bbx
            - bby
            - bca
            - bcb
            - bcc
            - bcd
            - bce
            - bcf
            - bcg
            - bch
            - bci
            - bcj
            - bck
            - bcl
            - bcm
            - bcn
            - bco
            - bcp
            - bcq
            - bcr
            - bcs
            - bct
            - bcu
            - bcv
            - bcw
            - bcy
            - bcz
            - bda
            - bdb
            - bdc
            - bdd
            - bde
            - bdf
            - bdg
            - bdh
            - bdi
            - bdj
            - bdk
            - bdl
            - bdm
            - bdn
            - bdo
            - bdp
            - bdq
            - bdr
            - bds
            - bdt
            - bdu
            - bdv
            - bdw
            - bdx
            - bdy
            - bdz
            - bea
            - beb
            - bec
            - bed
            - bee
            - bef
            - beg
            - beh
            - bei
            - bej
            - bek
            - bel
            - bem
            - ben
            - beo
            - bep
            - beq
            - bes
            - bet
            - beu
            - bev
            - bew
            - bex
            - bey
            - bez
            - bfa
            - bfb
            - bfc
            - bfd
            - bfe
            - bff
            - bfg
            - bfh
            - bfi
            - bfj
            - bfk
            - bfl
            - bfm
            - bfn
            - bfo
            - bfp
            - bfq
            - bfr
            - bfs
            - bft
            - bfu
            - bfw
            - bfx
            - bfy
            - bfz
            - bga
            - bgb
            - bgc
            - bgd
            - bge
            - bgf
            - bgg
            - bgi
            - bgj
            - bgk
            - bgl
            - bgn
            - bgo
            - bgp
            - bgq
            - bgr
            - bgs
            - bgt
            - bgu
            - bgv
            - bgw
            - bgx
            - bgy
            - bgz
            - bha
            - bhb
            - bhc
            - bhd
            - bhe
            - bhf
            - bhg
            - bhh
            - bhi
            - bhj
            - bhl
            - bhm
            - bhn
            - bho
            - bhp
            - bhq
            - bhr
            - bhs
            - bht
            - bhu
            - bhv
            - bhw
            - bhx
            - bhy
            - bhz
            - bia
            - bib
            - bid
            - bie
            - bif
            - big
            - bik
            - bil
            - bim
            - bin
            - bio
            - bip
            - biq
            - bir
            - bis
            - bit
            - biu
            - biv
            - biw
            - bix
            - biy
            - biz
            - bja
            - bjb
            - bjc
            - bje
            - bjf
            - bjg
            - bjh
            - bji
            - bjj
            - bjk
            - bjl
            - bjm
            - bjn
            - bjo
            - bjp
            - bjr
            - bjs
            - bjt
            - bju
            - bjv
            - bjw
            - bjx
            - bjy
            - bjz
            - bka
            - bkc
            - bkd
            - bkf
            - bkg
            - bkh
            - bki
            - bkj
            - bkk
            - bkl
            - bkm
            - bkn
            - bko
            - bkp
            - bkq
            - bkr
            - bks
            - bkt
            - bku
            - bkv
            - bkw
            - bkx
            - bky
            - bkz
            - bla
            - blb
            - blc
            - bld
            - ble
            - blf
            - blh
            - bli
            - blj
            - blk
            - bll
            - blm
            - bln
            - blo
            - blp
            - blq
            - blr
            - bls
            - blt
            - blv
            - blw
            - blx
            - bly
            - blz
            - bma
            - bmb
            - bmc
            - bmd
            - bme
            - bmf
            - bmg
            - bmh
            - bmi
            - bmj
            - bmk
            - bml
            - bmm
            - bmn
            - bmo
            - bmp
            - bmq
            - bmr
            - bms
            - bmt
            - bmu
            - bmv
            - bmw
            - bmx
            - bmz
            - bna
            - bnb
            - bnc
            - bnd
            - bne
            - bnf
            - bng
            - bni
            - bnj
            - bnk
            - bnl
            - bnm
            - bnn
            - bno
            - bnp
            - bnq
            - bnr
            - bns
            - bnu
            - bnv
            - bnw
            - bnx
            - bny
            - bnz
            - boa
            - bob
            - bod
            - boe
            - bof
            - bog
            - boh
            - boi
            - boj
            - bok
            - bol
            - bom
            - bon
            - boo
            - bop
            - boq
            - bor
            - bos
            - bot
            - bou
            - bov
            - bow
            - box
            - boy
            - boz
            - bpa
            - bpc
            - bpd
            - bpe
            - bpg
            - bph
            - bpi
            - bpj
            - bpk
            - bpl
            - bpm
            - bpn
            - bpo
            - bpp
            - bpq
            - bpr
            - bps
            - bpt
            - bpu
            - bpv
            - bpw
            - bpx
            - bpy
            - bpz
            - bqa
            - bqb
            - bqc
            - bqd
            - bqf
            - bqg
            - bqh
            - bqi
            - bqj
            - bqk
            - bql
            - bqm
            - bqn
            - bqo
            - bqp
            - bqq
            - bqr
            - bqs
            - bqt
            - bqu
            - bqv
            - bqw
            - bqx
            - bqy
            - bqz
            - bra
            - brb
            - brc
            - brd
            - bre
            - brf
            - brg
            - brh
            - bri
            - brj
            - brk
            - brl
            - brm
            - brn
            - bro
            - brp
            - brq
            - brr
            - brs
            - brt
            - bru
            - brv
            - brw
            - brx
            - bry
            - brz
            - bsa
            - bsb
            - bsc
            - bse
            - bsf
            - bsg
            - bsh
            - bsi
            - bsj
            - bsk
            - bsl
            - bsm
            - bsn
            - bso
            - bsp
            - bsq
            - bsr
            - bss
            - bst
            - bsu
            - bsv
            - bsw
            - bsx
            - bsy
            - bta
            - btc
            - btd
            - bte
            - btf
            - btg
            - bth
            - bti
            - btj
            - btm
            - btn
            - bto
            - btp
            - btq
            - btr
            - bts
            - btt
            - btu
            - btv
            - btw
            - btx
            - bty
            - btz
            - bua
            - bub
            - buc
            - bud
            - bue
            - buf
            - bug
            - buh
            - bui
            - buj
            - buk
            - bul
            - bum
            - bun
            - buo
            - bup
            - buq
            - bus
            - but
            - buu
            - buv
            - buw
            - bux
            - buy
            - buz
            - bva
            - bvb
            - bvc
            - bvd
            - bve
            - bvf
            - bvg
            - bvh
            - bvi
            - bvj
            - bvk
            - bvl
            - bvm
            - bvn
            - bvo
            - bvp
            - bvq
            - bvr
            - bvt
            - bvu
            - bvv
            - bvw
            - bvx
            - bvy
            - bvz
            - bwa
            - bwb
            - bwc
            - bwd
            - bwe
            - bwf
            - bwg
            - bwh
            - bwi
            - bwj
            - bwk
            - bwl
            - bwm
            - bwn
            - bwo
            - bwp
            - bwq
            - bwr
            - bws
            - bwt
            - bwu
            - bww
            - bwx
            - bwy
            - bwz
            - bxa
            - bxb
            - bxc
            - bxd
            - bxe
            - bxf
            - bxg
            - bxh
            - bxi
            - bxj
            - bxk
            - bxl
            - bxm
            - bxn
            - bxo
            - bxp
            - bxq
            - bxr
            - bxs
            - bxu
            - bxv
            - bxw
            - bxz
            - bya
            - byb
            - byc
            - byd
            - bye
            - byf
            - byg
            - byh
            - byi
            - byj
            - byk
            - byl
            - bym
            - byn
            - byo
            - byp
            - byq
            - byr
            - bys
            - byt
            - byv
            - byw
            - byx
            - byz
            - bza
            - bzb
            - bzc
            - bzd
            - bze
            - bzf
            - bzg
            - bzh
            - bzi
            - bzj
            - bzk
            - bzl
            - bzm
            - bzn
            - bzo
            - bzp
            - bzq
            - bzr
            - bzs
            - bzt
            - bzu
            - bzv
            - bzw
            - bzx
            - bzy
            - bzz
            - caa
            - cab
            - cac
            - cad
            - cae
            - caf
            - cag
            - cah
            - caj
            - cak
            - cal
            - cam
            - can
            - cao
            - cap
            - caq
            - car
            - cas
            - cat
            - cav
            - caw
            - cax
            - cay
            - caz
            - cbb
            - cbc
            - cbd
            - cbg
            - cbi
            - cbj
            - cbk
            - cbl
            - cbn
            - cbo
            - cbq
            - cbr
            - cbs
            - cbt
            - cbu
            - cbv
            - cbw
            - cby
            - ccc
            - ccd
            - cce
            - ccg
            - cch
            - ccj
            - ccl
            - ccm
            - cco
            - ccp
            - ccr
            - cda
            - cde
            - cdf
            - cdh
            - cdi
            - cdj
            - cdm
            - cdn
            - cdo
            - cdr
            - cds
            - cdy
            - cdz
            - cea
            - ceb
            - ceg
            - cek
            - cen
            - ces
            - cet
            - cey
            - cfa
            - cfd
            - cfg
            - cfm
            - cga
            - cgc
            - cgg
            - cgk
            - cha
            - chb
            - chc
            - chd
            - che
            - chf
            - chg
            - chh
            - chj
            - chk
            - chl
            - chm
            - chn
            - cho
            - chp
            - chq
            - chr
            - cht
            - chu
            - chv
            - chw
            - chx
            - chy
            - chz
            - cia
            - cib
            - cic
            - cid
            - cie
            - cih
            - cik
            - cim
            - cin
            - cip
            - cir
            - ciw
            - ciy
            - cja
            - cje
            - cjh
            - cji
            - cjk
            - cjm
            - cjn
            - cjo
            - cjp
            - cjs
            - cjv
            - cjy
            - ckb
            - ckh
            - ckl
            - ckm
            - ckn
            - cko
            - ckq
            - ckr
            - cks
            - ckt
            - cku
            - ckv
            - ckx
            - cky
            - ckz
            - cla
            - clc
            - cld
            - cle
            - clh
            - cli
            - clj
            - clk
            - cll
            - clm
            - clo
            - clt
            - clu
            - clw
            - cly
            - cma
            - cme
            - cmg
            - cmi
            - cml
            - cmm
            - cmn
            - cmo
            - cmr
            - cms
            - cmt
            - cna
            - cnb
            - cnc
            - cng
            - cnh
            - cni
            - cnk
            - cnl
            - cno
            - cnp
            - cnq
            - cnr
            - cns
            - cnt
            - cnu
            - cnw
            - cnx
            - coa
            - cob
            - coc
            - cod
            - coe
            - cof
            - cog
            - coh
            - coj
            - cok
            - col
            - com
            - con
            - coo
            - cop
            - coq
            - cor
            - cos
            - cot
            - cou
            - cov
            - cow
            - cox
            - coz
            - cpa
            - cpb
            - cpc
            - cpg
            - cpi
            - cpn
            - cpo
            - cps
            - cpu
            - cpx
            - cpy
            - cqd
            - cra
            - crb
            - crc
            - crd
            - cre
            - crf
            - crg
            - crh
            - cri
            - crj
            - crk
            - crl
            - crm
            - crn
            - cro
            - crq
            - crr
            - crs
            - crt
            - crv
            - crw
            - crx
            - cry
            - crz
            - csa
            - csb
            - csc
            - csd
            - cse
            - csf
            - csg
            - csh
            - csi
            - csj
            - csk
            - csl
            - csm
            - csn
            - cso
            - csp
            - csq
            - csr
            - css
            - cst
            - csv
            - csw
            - csx
            - csy
            - csz
            - cta
            - ctc
            - ctd
            - cte
            - ctg
            - cth
            - ctl
            - ctm
            - ctn
            - cto
            - ctp
            - cts
            - ctt
            - ctu
            - cty
            - ctz
            - cua
            - cub
            - cuc
            - cuh
            - cui
            - cuj
            - cuk
            - cul
            - cuo
            - cup
            - cuq
            - cur
            - cut
            - cuu
            - cuv
            - cuw
            - cux
            - cuy
            - cvg
            - cvn
            - cwa
            - cwb
            - cwd
            - cwe
            - cwg
            - cwt
            - cya
            - cyb
            - cym
            - cyo
            - czh
            - czk
            - czn
            - czo
            - czt
            - daa
            - dac
            - dad
            - dae
            - dag
            - dah
            - dai
            - daj
            - dak
            - dal
            - dam
            - dan
            - dao
            - daq
            - dar
            - das
            - dau
            - dav
            - daw
            - dax
            - daz
            - dba
            - dbb
            - dbd
            - dbe
            - dbf
            - dbg
            - dbi
            - dbj
            - dbl
            - dbm
            - dbn
            - dbo
            - dbp
            - dbq
            - dbr
            - dbt
            - dbu
            - dbv
            - dbw
            - dby
            - dcc
            - dcr
            - dda
            - ddd
            - dde
            - ddg
            - ddi
            - ddj
            - ddn
            - ddo
            - ddr
            - dds
            - ddw
            - dec
            - ded
            - dee
            - def
            - deg
            - deh
            - dei
            - dek
            - del
            - dem
            - den
            - dep
            - deq
            - der
            - des
            - deu
            - dev
            - dez
            - dga
            - dgb
            - dgc
            - dgd
            - dge
            - dgg
            - dgh
            - dgi
            - dgk
            - dgl
            - dgn
            - dgo
            - dgr
            - dgs
            - dgt
            - dgw
            - dgx
            - dgz
            - dhd
            - dhg
            - dhi
            - dhl
            - dhm
            - dhn
            - dho
            - dhr
            - dhs
            - dhu
            - dhv
            - dhw
            - dhx
            - dia
            - dib
            - dic
            - did
            - dif
            - dig
            - dih
            - dii
            - dij
            - dik
            - dil
            - dim
            - din
            - dio
            - dip
            - diq
            - dir
            - dis
            - diu
            - div
            - diw
            - dix
            - diy
            - diz
            - dja
            - djb
            - djc
            - djd
            - dje
            - djf
            - dji
            - djj
            - djk
            - djm
            - djn
            - djo
            - djr
            - dju
            - djw
            - dka
            - dkg
            - dkk
            - dkr
            - dks
            - dkx
            - dlg
            - dlk
            - dlm
            - dln
            - dma
            - dmb
            - dmc
            - dmd
            - dme
            - dmf
            - dmg
            - dmk
            - dml
            - dmm
            - dmo
            - dmr
            - dms
            - dmu
            - dmv
            - dmw
            - dmx
            - dmy
            - dna
            - dnd
            - dne
            - dng
            - dni
            - dnj
            - dnk
            - dnn
            - dno
            - dnr
            - dnt
            - dnu
            - dnv
            - dnw
            - dny
            - doa
            - dob
            - doc
            - doe
            - dof
            - doh
            - doi
            - dok
            - dol
            - don
            - doo
            - dop
            - doq
            - dor
            - dos
            - dot
            - dov
            - dow
            - dox
            - doy
            - doz
            - dpp
            - drb
            - drc
            - drd
            - dre
            - drg
            - dri
            - drl
            - drn
            - dro
            - drq
            - drs
            - drt
            - dru
            - dry
            - dsb
            - dse
            - dsh
            - dsi
            - dsl
            - dsn
            - dso
            - dsq
            - dsz
            - dta
            - dtb
            - dtd
            - dth
            - dti
            - dtk
            - dtm
            - dtn
            - dto
            - dtp
            - dtr
            - dts
            - dtt
            - dtu
            - dty
            - dua
            - dub
            - duc
            - due
            - duf
            - dug
            - duh
            - dui
            - duk
            - dul
            - dum
            - dun
            - duo
            - dup
            - duq
            - dur
            - dus
            - duu
            - duv
            - duw
            - dux
            - duy
            - duz
            - dva
            - dwa
            - dwk
            - dwr
            - dws
            - dwu
            - dww
            - dwy
            - dwz
            - dya
            - dyb
            - dyd
            - dyg
            - dyi
            - dym
            - dyn
            - dyo
            - dyu
            - dyy
            - dza
            - dze
            - dzg
            - dzl
            - dzn
            - dzo
            - eaa
            - ebc
            - ebg
            - ebk
            - ebo
            - ebr
            - ebu
            - ecr
            - ecs
            - ecy
            - eee
            - efa
            - efe
            - efi
            - ega
            - egl
            - egm
            - ego
            - egy
            - ehs
            - ehu
            - eip
            - eit
            - eiv
            - eja
            - eka
            - eke
            - ekg
            - eki
            - ekk
            - ekl
            - ekm
            - eko
            - ekp
            - ekr
            - eky
            - ele
            - elh
            - eli
            - elk
            - ell
            - elm
            - elo
            - elu
            - elx
            - ema
            - emb
            - eme
            - emg
            - emi
            - emk
            - emm
            - emn
            - emp
            - emq
            - ems
            - emu
            - emw
            - emx
            - emy
            - emz
            - ena
            - enb
            - enc
            - end
            - enf
            - eng
            - enh
            - enl
            - enm
            - enn
            - eno
            - enq
            - enr
            - enu
            - env
            - enw
            - enx
            - eot
            - epi
            - epo
            - era
            - erg
            - erh
            - eri
            - erk
            - ero
            - err
            - ers
            - ert
            - erw
            - ese
            - esg
            - esh
            - esi
            - esk
            - esl
            - esm
            - esn
            - eso
            - esq
            - ess
            - est
            - esu
            - esy
            - etb
            - etc
            - eth
            - etn
            - eto
            - etr
            - ets
            - ett
            - etu
            - etx
            - etz
            - eus
            - eve
            - evh
            - evn
            - ewe
            - ewo
            - ext
            - eya
            - eyo
            - eza
            - eze
            - faa
            - fab
            - fad
            - faf
            - fag
            - fah
            - fai
            - faj
            - fak
            - fal
            - fam
            - fan
            - fao
            - fap
            - far
            - fas
            - fat
            - fau
            - fax
            - fay
            - faz
            - fbl
            - fcs
            - fer
            - ffi
            - ffm
            - fgr
            - fia
            - fie
            - fif
            - fij
            - fil
            - fin
            - fip
            - fir
            - fit
            - fiw
            - fkk
            - fkv
            - fla
            - flh
            - fli
            - fll
            - fln
            - flr
            - fly
            - fmp
            - fmu
            - fnb
            - fng
            - fni
            - fod
            - foi
            - fom
            - fon
            - for
            - fos
            - fpe
            - fqs
            - fra
            - frc
            - frd
            - frk
            - frm
            - fro
            - frp
            - frq
            - frr
            - frs
            - frt
            - fry
            - fse
            - fsl
            - fss
            - fub
            - fuc
            - fud
            - fue
            - fuf
            - fuh
            - fui
            - fuj
            - ful
            - fum
            - fun
            - fuq
            - fur
            - fut
            - fuu
            - fuv
            - fuy
            - fvr
            - fwa
            - fwe
            - gaa
            - gab
            - gac
            - gad
            - gae
            - gaf
            - gag
            - gah
            - gai
            - gaj
            - gak
            - gal
            - gam
            - gan
            - gao
            - gap
            - gaq
            - gar
            - gas
            - gat
            - gau
            - gaw
            - gax
            - gay
            - gaz
            - gba
            - gbb
            - gbd
            - gbe
            - gbf
            - gbg
            - gbh
            - gbi
            - gbj
            - gbk
            - gbl
            - gbm
            - gbn
            - gbo
            - gbp
            - gbq
            - gbr
            - gbs
            - gbu
            - gbv
            - gbw
            - gbx
            - gby
            - gbz
            - gcc
            - gcd
            - gce
            - gcf
            - gcl
            - gcn
            - gcr
            - gct
            - gda
            - gdb
            - gdc
            - gdd
            - gde
            - gdf
            - gdg
            - gdh
            - gdi
            - gdj
            - gdk
            - gdl
            - gdm
            - gdn
            - gdo
            - gdq
            - gdr
            - gds
            - gdt
            - gdu
            - gdx
            - gea
            - geb
            - gec
            - ged
            - gef
            - geg
            - geh
            - gei
            - gej
            - gek
            - gel
            - geq
            - ges
            - gev
            - gew
            - gex
            - gey
            - gez
            - gfk
            - gft
            - gga
            - ggb
            - ggd
            - gge
            - ggg
            - ggk
            - ggl
            - ggt
            - ggu
            - ggw
            - gha
            - ghc
            - ghe
            - ghh
            - ghk
            - ghl
            - ghn
            - gho
            - ghr
            - ghs
            - ght
            - gia
            - gib
            - gic
            - gid
            - gie
            - gig
            - gih
            - gii
            - gil
            - gim
            - gin
            - gip
            - giq
            - gir
            - gis
            - git
            - giu
            - giw
            - gix
            - giy
            - giz
            - gjk
            - gjm
            - gjn
            - gjr
            - gju
            - gka
            - gkd
            - gke
            - gkn
            - gko
            - gkp
            - gku
            - gla
            - glb
            - glc
            - gld
            - gle
            - glg
            - glh
            - glj
            - glk
            - gll
            - glo
            - glr
            - glu
            - glv
            - glw
            - gly
            - gma
            - gmb
            - gmd
            - gmg
            - gmh
            - gml
            - gmm
            - gmn
            - gmr
            - gmu
            - gmv
            - gmx
            - gmy
            - gmz
            - gna
            - gnb
            - gnc
            - gnd
            - gne
            - gng
            - gnh
            - gni
            - gnj
            - gnk
            - gnl
            - gnm
            - gnn
            - gno
            - gnq
            - gnr
            - gnt
            - gnu
            - gnw
            - gnz
            - goa
            - gob
            - goc
            - god
            - goe
            - gof
            - gog
            - goh
            - goi
            - goj
            - gok
            - gol
            - gom
            - gon
            - goo
            - gop
            - goq
            - gor
            - gos
            - got
            - gou
            - gov
            - gow
            - gox
            - goy
            - goz
            - gpa
            - gpe
            - gpn
            - gqa
            - gqi
            - gqn
            - gqr
            - gqu
            - gra
            - grb
            - grc
            - grd
            - grg
            - grh
            - gri
            - grj
            - grm
            - grn
            - gro
            - grq
            - grr
            - grs
            - grt
            - gru
            - grv
            - grw
            - grx
            - gry
            - grz
            - gse
            - gsg
            - gsl
            - gsm
            - gsn
            - gso
            - gsp
            - gss
            - gsw
            - gta
            - gtu
            - gua
            - gub
            - guc
            - gud
            - gue
            - guf
            - gug
            - guh
            - gui
            - guj
            - guk
            - gul
            - gum
            - gun
            - guo
            - gup
            - guq
            - gur
            - gus
            - gut
            - guu
            - guw
            - gux
            - guz
            - gva
            - gvc
            - gve
            - gvf
            - gvj
            - gvl
            - gvm
            - gvn
            - gvo
            - gvp
            - gvr
            - gvs
            - gvy
            - gwa
            - gwb
            - gwc
            - gwd
            - gwe
            - gwf
            - gwg
            - gwi
            - gwj
            - gwm
            - gwn
            - gwr
            - gwt
            - gwu
            - gww
            - gwx
            - gxx
            - gya
            - gyb
            - gyd
            - gye
            - gyf
            - gyg
            - gyi
            - gyl
            - gym
            - gyn
            - gyo
            - gyr
            - gyy
            - gyz
            - gza
            - gzi
            - gzn
            - haa
            - hab
            - hac
            - had
            - hae
            - haf
            - hag
            - hah
            - hai
            - haj
            - hak
            - hal
            - ham
            - han
            - hao
            - hap
            - haq
            - har
            - has
            - hat
            - hau
            - hav
            - haw
            - hax
            - hay
            - haz
            - hba
            - hbb
            - hbn
            - hbo
            - hbs
            - hbu
            - hca
            - hch
            - hdn
            - hds
            - hdy
            - hea
            - heb
            - hed
            - heg
            - heh
            - hei
            - hem
            - her
            - hgm
            - hgw
            - hhi
            - hhr
            - hhy
            - hia
            - hib
            - hid
            - hif
            - hig
            - hih
            - hii
            - hij
            - hik
            - hil
            - hin
            - hio
            - hir
            - hit
            - hiw
            - hix
            - hji
            - hka
            - hke
            - hkh
            - hkk
            - hkn
            - hks
            - hla
            - hlb
            - hld
            - hle
            - hlt
            - hlu
            - hma
            - hmb
            - hmc
            - hmd
            - hme
            - hmf
            - hmg
            - hmh
            - hmi
            - hmj
            - hmk
            - hml
            - hmm
            - hmn
            - hmo
            - hmp
            - hmq
            - hmr
            - hms
            - hmt
            - hmu
            - hmv
            - hmw
            - hmy
            - hmz
            - hna
            - hnd
            - hne
            - hng
            - hnh
            - hni
            - hnj
            - hnn
            - hno
            - hns
            - hnu
            - hoa
            - hob
            - hoc
            - hod
            - hoe
            - hoh
            - hoi
            - hoj
            - hol
            - hom
            - hoo
            - hop
            - hor
            - hos
            - hot
            - hov
            - how
            - hoy
            - hoz
            - hpo
            - hps
            - hra
            - hrc
            - hre
            - hrk
            - hrm
            - hro
            - hrp
            - hrt
            - hru
            - hrv
            - hrw
            - hrx
            - hrz
            - hsb
            - hsh
            - hsl
            - hsn
            - hss
            - hti
            - hto
            - hts
            - htu
            - htx
            - hub
            - huc
            - hud
            - hue
            - huf
            - hug
            - huh
            - hui
            - huj
            - huk
            - hul
            - hum
            - hun
            - huo
            - hup
            - huq
            - hur
            - hus
            - hut
            - huu
            - huv
            - huw
            - hux
            - huy
            - huz
            - hvc
            - hve
            - hvk
            - hvn
            - hvv
            - hwa
            - hwc
            - hwo
            - hya
            - hye
            - hyw
            - iai
            - ian
            - iar
            - iba
            - ibb
            - ibd
            - ibe
            - ibg
            - ibh
            - ibl
            - ibm
            - ibn
            - ibo
            - ibr
            - ibu
            - iby
            - ica
            - ich
            - icl
            - icr
            - ida
            - idb
            - idc
            - idd
            - ide
            - idi
            - ido
            - idr
            - ids
            - idt
            - idu
            - ifa
            - ifb
            - ife
            - iff
            - ifk
            - ifm
            - ifu
            - ify
            - igb
            - ige
            - igg
            - igl
            - igm
            - ign
            - igo
            - igs
            - igw
            - ihb
            - ihi
            - ihp
            - ihw
            - iii
            - iin
            - ijc
            - ije
            - ijj
            - ijn
            - ijs
            - ike
            - iki
            - ikk
            - ikl
            - iko
            - ikp
            - ikr
            - iks
            - ikt
            - iku
            - ikv
            - ikw
            - ikx
            - ikz
            - ila
            - ilb
            - ile
            - ilg
            - ili
            - ilk
            - ilm
            - ilo
            - ilp
            - ils
            - ilu
            - ilv
            - ima
            - imi
            - iml
            - imn
            - imo
            - imr
            - ims
            - imt
            - imy
            - ina
            - inb
            - ind
            - ing
            - inh
            - inj
            - inl
            - inm
            - inn
            - ino
            - inp
            - ins
            - int
            - inz
            - ior
            - iou
            - iow
            - ipi
            - ipk
            - ipo
            - iqu
            - iqw
            - ire
            - irh
            - iri
            - irk
            - irn
            - irr
            - iru
            - irx
            - iry
            - isa
            - isc
            - isd
            - ise
            - isg
            - ish
            - isi
            - isk
            - isl
            - ism
            - isn
            - iso
            - isr
            - ist
            - isu
            - ita
            - itb
            - itd
            - ite
            - iti
            - itk
            - itl
            - itm
            - ito
            - itr
            - its
            - itt
            - itv
            - itw
            - itx
            - ity
            - itz
            - ium
            - ivb
            - ivv
            - iwk
            - iwm
            - iwo
            - iws
            - ixc
            - ixl
            - iya
            - iyo
            - iyx
            - izh
            - izr
            - izz
            - jaa
            - jab
            - jac
            - jad
            - jae
            - jaf
            - jah
            - jaj
            - jak
            - jal
            - jam
            - jan
            - jao
            - jaq
            - jas
            - jat
            - jau
            - jav
            - jax
            - jay
            - jaz
            - jbe
            - jbi
            - jbj
            - jbk
            - jbm
            - jbn
            - jbo
            - jbr
            - jbt
            - jbu
            - jbw
            - jcs
            - jct
            - jda
            - jdg
            - jdt
            - jeb
            - jee
            - jeh
            - jei
            - jek
            - jel
            - jen
            - jer
            - jet
            - jeu
            - jgb
            - jge
            - jgk
            - jgo
            - jhi
            - jhs
            - jia
            - jib
            - jic
            - jid
            - jie
            - jig
            - jih
            - jii
            - jil
            - jim
            - jio
            - jiq
            - jit
            - jiu
            - jiv
            - jiy
            - jje
            - jjr
            - jka
            - jkm
            - jko
            - jkp
            - jkr
            - jks
            - jku
            - jle
            - jls
            - jma
            - jmb
            - jmc
            - jmd
            - jmi
            - jml
            - jmn
            - jmr
            - jms
            - jmw
            - jmx
            - jna
            - jnd
            - jng
            - jni
            - jnj
            - jnl
            - jns
            - job
            - jod
            - jog
            - jor
            - jos
            - jow
            - jpa
            - jpn
            - jpr
            - jqr
            - jra
            - jrb
            - jrr
            - jrt
            - jru
            - jsl
            - jua
            - jub
            - juc
            - jud
            - juh
            - jui
            - juk
            - jul
            - jum
            - jun
            - juo
            - jup
            - jur
            - jus
            - jut
            - juu
            - juw
            - juy
            - jvd
            - jvn
            - jwi
            - jya
            - jye
            - jyy
            - kaa
            - kab
            - kac
            - kad
            - kae
            - kaf
            - kag
            - kah
            - kai
            - kaj
            - kak
            - kal
            - kam
            - kan
            - kao
            - kap
            - kaq
            - kas
            - kat
            - kau
            - kav
            - kaw
            - kax
            - kay
            - kaz
            - kba
            - kbb
            - kbc
            - kbd
            - kbe
            - kbg
            - kbh
            - kbi
            - kbj
            - kbk
            - kbl
            - kbm
            - kbn
            - kbo
            - kbp
            - kbq
            - kbr
            - kbs
            - kbt
            - kbu
            - kbv
            - kbw
            - kbx
            - kby
            - kbz
            - kca
            - kcb
            - kcc
            - kcd
            - kce
            - kcf
            - kcg
            - kch
            - kci
            - kcj
            - kck
            - kcl
            - kcm
            - kcn
            - kco
            - kcp
            - kcq
            - kcr
            - kcs
            - kct
            - kcu
            - kcv
            - kcw
            - kcx
            - kcy
            - kcz
            - kda
            - kdc
            - kdd
            - kde
            - kdf
            - kdg
            - kdh
            - kdi
            - kdj
            - kdk
            - kdl
            - kdm
            - kdn
            - kdp
            - kdq
            - kdr
            - kdt
            - kdu
            - kdw
            - kdx
            - kdy
            - kdz
            - kea
            - keb
            - kec
            - ked
            - kee
            - kef
            - keg
            - keh
            - kei
            - kej
            - kek
            - kel
            - kem
            - ken
            - keo
            - kep
            - keq
            - ker
            - kes
            - ket
            - keu
            - kev
            - kew
            - kex
            - key
            - kez
            - kfa
            - kfb
            - kfc
            - kfd
            - kfe
            - kff
            - kfg
            - kfh
            - kfi
            - kfj
            - kfk
            - kfl
            - kfm
            - kfn
            - kfo
            - kfp
            - kfq
            - kfr
            - kfs
            - kft
            - kfu
            - kfv
            - kfw
            - kfx
            - kfy
            - kfz
            - kga
            - kgb
            - kge
            - kgf
            - kgg
            - kgi
            - kgj
            - kgk
            - kgl
            - kgm
            - kgn
            - kgo
            - kgp
            - kgq
            - kgr
            - kgs
            - kgt
            - kgu
            - kgv
            - kgw
            - kgx
            - kgy
            - kha
            - khb
            - khc
            - khd
            - khe
            - khf
            - khg
            - khh
            - khj
            - khk
            - khl
            - khm
            - khn
            - kho
            - khp
            - khq
            - khr
            - khs
            - kht
            - khu
            - khv
            - khw
            - khx
            - khy
            - khz
            - kia
            - kib
            - kic
            - kid
            - kie
            - kif
            - kig
            - kih
            - kii
            - kij
            - kik
            - kil
            - kim
            - kin
            - kio
            - kip
            - kiq
            - kir
            - kis
            - kit
            - kiu
            - kiv
            - kiw
            - kix
            - kiy
            - kiz
            - kja
            - kjb
            - kjc
            - kjd
            - kje
            - kjg
            - kjh
            - kji
            - kjj
            - kjk
            - kjl
            - kjm
            - kjn
            - kjo
            - kjp
            - kjq
            - kjr
            - kjs
            - kjt
            - kju
            - kjv
            - kjx
            - kjy
            - kjz
            - kka
            - kkb
            - kkc
            - kkd
            - kke
            - kkf
            - kkg
            - kkh
            - kki
            - kkj
            - kkk
            - kkl
            - kkm
            - kkn
            - kko
            - kkp
            - kkq
            - kkr
            - kks
            - kkt
            - kku
            - kkv
            - kkw
            - kkx
            - kky
            - kkz
            - kla
            - klb
            - klc
            - kld
            - kle
            - klf
            - klg
            - klh
            - kli
            - klj
            - klk
            - kll
            - klm
            - kln
            - klo
            - klp
            - klq
            - klr
            - kls
            - klt
            - klu
            - klv
            - klw
            - klx
            - kly
            - klz
            - kma
            - kmb
            - kmc
            - kmd
            - kme
            - kmf
            - kmg
            - kmh
            - kmi
            - kmj
            - kmk
            - kml
            - kmm
            - kmn
            - kmo
            - kmp
            - kmq
            - kmr
            - kms
            - kmt
            - kmu
            - kmv
            - kmw
            - kmx
            - kmy
            - kmz
            - kna
            - knb
            - knc
            - knd
            - kne
            - knf
            - kng
            - kni
            - knj
            - knk
            - knl
            - knm
            - knn
            - kno
            - knp
            - knq
            - knr
            - kns
            - knt
            - knu
            - knv
            - knw
            - knx
            - kny
            - knz
            - koa
            - koc
            - kod
            - koe
            - kof
            - kog
            - koh
            - koi
            - kok
            - kol
            - kom
            - kon
            - koo
            - kop
            - koq
            - kor
            - kos
            - kot
            - kou
            - kov
            - kow
            - koy
            - koz
            - kpa
            - kpb
            - kpc
            - kpd
            - kpe
            - kpf
            - kpg
            - kph
            - kpi
            - kpj
            - kpk
            - kpl
            - kpm
            - kpn
            - kpo
            - kpq
            - kpr
            - kps
            - kpt
            - kpu
            - kpv
            - kpw
            - kpx
            - kpy
            - kpz
            - kqa
            - kqb
            - kqc
            - kqd
            - kqe
            - kqf
            - kqg
            - kqh
            - kqi
            - kqj
            - kqk
            - kql
            - kqm
            - kqn
            - kqo
            - kqp
            - kqq
            - kqr
            - kqs
            - kqt
            - kqu
            - kqv
            - kqw
            - kqx
            - kqy
            - kqz
            - kra
            - krb
            - krc
            - krd
            - kre
            - krf
            - krh
            - kri
            - krj
            - krk
            - krl
            - krn
            - krp
            - krr
            - krs
            - krt
            - kru
            - krv
            - krw
            - krx
            - kry
            - krz
            - ksa
            - ksb
            - ksc
            - ksd
            - kse
            - ksf
            - ksg
            - ksh
            - ksi
            - ksj
            - ksk
            - ksl
            - ksm
            - ksn
            - kso
            - ksp
            - ksq
            - ksr
            - kss
            - kst
            - ksu
            - ksv
            - ksw
            - ksx
            - ksy
            - ksz
            - kta
            - ktb
            - ktc
            - ktd
            - kte
            - ktf
            - ktg
            - kth
            - kti
            - ktj
            - ktk
            - ktl
            - ktm
            - ktn
            - kto
            - ktp
            - ktq
            - kts
            - ktt
            - ktu
            - ktv
            - ktw
            - ktx
            - kty
            - ktz
            - kua
            - kub
            - kuc
            - kud
            - kue
            - kuf
            - kug
            - kuh
            - kui
            - kuj
            - kuk
            - kul
            - kum
            - kun
            - kuo
            - kup
            - kuq
            - kur
            - kus
            - kut
            - kuu
            - kuv
            - kuw
            - kux
            - kuy
            - kuz
            - kva
            - kvb
            - kvc
            - kvd
            - kve
            - kvf
            - kvg
            - kvh
            - kvi
            - kvj
            - kvk
            - kvl
            - kvm
            - kvn
            - kvo
            - kvp
            - kvq
            - kvr
            - kvt
            - kvu
            - kvv
            - kvw
            - kvx
            - kvy
            - kvz
            - kwa
            - kwb
            - kwc
            - kwd
            - kwe
            - kwf
            - kwg
            - kwh
            - kwi
            - kwj
            - kwk
            - kwl
            - kwm
            - kwn
            - kwo
            - kwp
            - kwr
            - kws
            - kwt
            - kwu
            - kwv
            - kww
            - kwx
            - kwy
            - kwz
            - kxa
            - kxb
            - kxc
            - kxd
            - kxf
            - kxh
            - kxi
            - kxj
            - kxk
            - kxm
            - kxn
            - kxo
            - kxp
            - kxq
            - kxr
            - kxs
            - kxt
            - kxv
            - kxw
            - kxx
            - kxy
            - kxz
            - kya
            - kyb
            - kyc
            - kyd
            - kye
            - kyf
            - kyg
            - kyh
            - kyi
            - kyj
            - kyk
            - kyl
            - kym
            - kyn
            - kyo
            - kyp
            - kyq
            - kyr
            - kys
            - kyt
            - kyu
            - kyv
            - kyw
            - kyx
            - kyy
            - kyz
            - kza
            - kzb
            - kzc
            - kzd
            - kze
            - kzf
            - kzg
            - kzi
            - kzk
            - kzl
            - kzm
            - kzn
            - kzo
            - kzp
            - kzq
            - kzr
            - kzs
            - kzu
            - kzv
            - kzw
            - kzx
            - kzy
            - kzz
            - laa
            - lab
            - lac
            - lad
            - lae
            - laf
            - lag
            - lah
            - lai
            - laj
            - lal
            - lam
            - lan
            - lao
            - lap
            - laq
            - lar
            - las
            - lat
            - lau
            - lav
            - law
            - lax
            - lay
            - laz
            - lbb
            - lbc
            - lbe
            - lbf
            - lbg
            - lbi
            - lbj
            - lbk
            - lbl
            - lbm
            - lbn
            - lbo
            - lbq
            - lbr
            - lbs
            - lbt
            - lbu
            - lbv
            - lbw
            - lbx
            - lby
            - lbz
            - lcc
            - lcd
            - lce
            - lcf
            - lch
            - lcl
            - lcm
            - lcp
            - lcq
            - lcs
            - lda
            - ldb
            - ldd
            - ldg
            - ldh
            - ldi
            - ldj
            - ldk
            - ldl
            - ldm
            - ldn
            - ldo
            - ldp
            - ldq
            - lea
            - leb
            - lec
            - led
            - lee
            - lef
            - leh
            - lei
            - lej
            - lek
            - lel
            - lem
            - len
            - leo
            - lep
            - leq
            - ler
            - les
            - let
            - leu
            - lev
            - lew
            - lex
            - ley
            - lez
            - lfa
            - lfn
            - lga
            - lgb
            - lgg
            - lgh
            - lgi
            - lgk
            - lgl
            - lgm
            - lgn
            - lgo
            - lgq
            - lgr
            - lgt
            - lgu
            - lgz
            - lha
            - lhh
            - lhi
            - lhl
            - lhm
            - lhn
            - lhp
            - lhs
            - lht
            - lhu
            - lia
            - lib
            - lic
            - lid
            - lie
            - lif
            - lig
            - lih
            - lij
            - lik
            - lil
            - lim
            - lin
            - lio
            - lip
            - liq
            - lir
            - lis
            - lit
            - liu
            - liv
            - liw
            - lix
            - liy
            - liz
            - lja
            - lje
            - lji
            - ljl
            - ljp
            - ljw
            - ljx
            - lka
            - lkb
            - lkc
            - lkd
            - lke
            - lkh
            - lki
            - lkj
            - lkl
            - lkm
            - lkn
            - lko
[...]
