openapi: 3.1.0
info:
  title: Amigo Account Network API
  version: 0.1.0
servers:
- url: https://api.amigo.ai
- url: https://internal-api.amigo.ai
- url: https://api-eu-central-1.amigo.ai
- url: https://api-ap-southeast-2.amigo.ai
- url: https://api-ca-central-1.amigo.ai
security:
- Bearer-Authorization: []
  Bearer-Authorization-Organization: []
  Basic: []
tags:
- name: Network
paths:
  /v1/{workspace_id}/network/egress-ips:
    get:
      tags:
      - Network
      summary: Get egress IP addresses
      description: 'Get platform egress IP addresses for firewall allowlisting.


        Returns the static IP addresses used by all outbound traffic from the

        platform. Customers should add these to their firewall allowlists to

        enable data source connectivity (EHR, FHIR stores, etc.).


        Permissions: authenticated (any role).'
      operationId: get-egress-ips
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressIpsResponse'
        '429':
          description: Rate limited
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Workspace Id
components:
  schemas:
    EgressIpsResponse:
      properties:
        egress_ips:
          items:
            type: string
          type: array
          title: Egress Ips
        region:
          type: string
          title: Region
        note:
          type: string
          title: Note
      type: object
      required:
      - egress_ips
      - region
      - note
      title: EgressIpsResponse
  securitySchemes:
    Bearer-Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Amigo issued JWT token that identifies an user. It's issued either after logging in through the frontend, or manually through the [`SignInWithAPIKey`](sign-in-with-api-key) endpoint.
    Bearer-Authorization-Organization:
      type: apiKey
      in: header
      name: X-ORG-ID
      description: An optional organization identifier that indicates from which organization the token is issued. This is used in rare cases where the user to authenticate is making a request for resources in another organization.
    Basic:
      type: http
      scheme: basic
      description: The username should be set to {org_id}_{user_id}, and the password should be the Amigo issued JWT token that identifies the user.
