openapi: 3.2.0
info:
  title: Platform Network API
  description: Management API for the Amigo platform. Provides CRUD operations for workspaces, API keys, and resources.
  version: 1.0.0
servers:
- url: https://api.platform.amigo.ai
  description: Production
security:
- BearerAuth: []
tags:
- name: Network
paths:
  /v1/{workspace_id}/network/egress-ips:
    get:
      tags:
      - Network
      summary: Get egress IP addresses
      description: 'Get platform egress IP addresses for firewall allowlisting.


        Returns the static IP addresses used by all outbound traffic from the

        platform. Customers should add these to their firewall allowlists to

        enable data source connectivity (EHR, FHIR stores, etc.).


        Permissions: authenticated (any role).'
      operationId: get-egress-ips
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EgressIpsResponse'
        '429':
          description: Rate limited
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Workspace Id
components:
  schemas:
    EgressIpsResponse:
      properties:
        egress_ips:
          items:
            type: string
          type: array
          title: Egress Ips
        region:
          type: string
          title: Region
        note:
          type: string
          title: Note
      type: object
      required:
      - egress_ips
      - region
      - note
      title: EgressIpsResponse
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key issued via `POST /v1/{workspace_id}/api-keys`. Pass the returned `api_key` value as a Bearer token.
