openapi: 3.1.0
info:
  title: Amigo Account Config API
  version: 0.1.0
servers:
- url: https://api.amigo.ai
- url: https://internal-api.amigo.ai
- url: https://api-eu-central-1.amigo.ai
- url: https://api-ap-southeast-2.amigo.ai
- url: https://api-ca-central-1.amigo.ai
security:
- Bearer-Authorization: []
  Bearer-Authorization-Organization: []
  Basic: []
tags:
- name: Config
paths:
  /v1/{workspace_id}/config/client:
    get:
      tags:
      - Config
      summary: Get client configuration
      description: Return client-safe configuration for the authenticated workspace.
      operationId: get-client-config
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientConfigResponse'
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Workspace Id
components:
  schemas:
    ClientConfigResponse:
      properties:
        google_maps_api_key:
          anyOf:
          - type: string
            maxLength: 512
          - type: 'null'
          title: Google Maps Api Key
      type: object
      title: ClientConfigResponse
      description: 'Client-safe configuration values.


        Values returned here are safe to embed in browser-side code.

        API keys are restricted by HTTP referrer or similar origin

        controls at the provider level.'
  securitySchemes:
    Bearer-Authorization:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Amigo issued JWT token that identifies an user. It's issued either after logging in through the frontend, or manually through the [`SignInWithAPIKey`](sign-in-with-api-key) endpoint.
    Bearer-Authorization-Organization:
      type: apiKey
      in: header
      name: X-ORG-ID
      description: An optional organization identifier that indicates from which organization the token is issued. This is used in rare cases where the user to authenticate is making a request for resources in another organization.
    Basic:
      type: http
      scheme: basic
      description: The username should be set to {org_id}_{user_id}, and the password should be the Amigo issued JWT token that identifies the user.
