openapi: 3.2.0
info:
  title: Platform Metering API
  description: Management API for the Amigo platform. Provides CRUD operations for workspaces, API keys, and resources.
  version: 1.0.0
servers:
- url: https://api.platform.amigo.ai
  description: Production
security:
- BearerAuth: []
tags:
- name: Metering
paths:
  /v1/{workspace_id}/metering/emit:
    post:
      tags:
      - Metering
      summary: Emit Metering Event
      description: Emit one metering event for the calling workspace.
      operationId: emit-metering-event
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeteringEmitRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeteringEmitResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Workspace Id
components:
  schemas:
    MeteringEmitRequest:
      properties:
        event_type:
          type: string
          maxLength: 64
          minLength: 1
          pattern: ^[a-z][a-z0-9._]*$
          title: Event Type
        metering_quantity:
          type: number
          minimum: 0.0
          title: Metering Quantity
        metering_source:
          type: string
          enum:
          - production
          - simulation
          title: Metering Source
          description: Traffic class — 'production' or 'simulation'.
        effective_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Effective At
          description: When the event happened. Defaults to ingest time.
        metering_unit:
          anyOf:
          - type: string
            maxLength: 32
            minLength: 1
          - type: 'null'
          title: Metering Unit
        metering_metadata:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metering Metadata
        event_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Event Id
          description: 'Optional deterministic row id (typically uuid5(NAMESPACE, ''<stable-key>'')). Re-emitting with the same value lands on the same world_events row instead of double-billing. Use for backfills and retries. Default: server generates a random uuid4.'
      type: object
      required:
      - event_type
      - metering_quantity
      - metering_source
      title: MeteringEmitRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    MeteringEmitResponse:
      properties:
        status:
          type: string
          const: accepted
          title: Status
          description: Emission outcome. Always 'accepted' on 202.
        event_type:
          type: string
          maxLength: 64
          minLength: 1
          title: Event Type
          description: Echo of the emitted event_type.
      type: object
      required:
      - status
      - event_type
      title: MeteringEmitResponse
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key issued via `POST /v1/{workspace_id}/api-keys`. Pass the returned `api_key` value as a Bearer token.
