openapi: 3.1.0
info:
  title: Amigo Account Simulation API
  version: 0.1.0
servers:
- url: https://api.amigo.ai
- url: https://internal-api.amigo.ai
- url: https://api-eu-central-1.amigo.ai
- url: https://api-ap-southeast-2.amigo.ai
- url: https://api-ca-central-1.amigo.ai
security:
- Bearer-Authorization: []
  Bearer-Authorization-Organization: []
  Basic: []
tags:
- name: Simulation
paths:
  /v1/{organization}/simulation/persona/:
    post:
      tags:
      - Simulation
      summary: Create a simulation persona
      description: 'Create a simulation persona.


        #### Permissions

        * `Simulation:CreateSimulationPersona` for the persona to create.

        * `Simulation:ModifySimulationPersona` for the persona to create.'
      operationId: create-simulation-persona
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_persona__Request'
      responses:
        '201':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_persona__Response'
        '404':
          description: The specified organization was not found.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '409':
          description: A simulation persona with this name already exists.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 100 requests per minute for this endpoint.
    get:
      tags:
      - Simulation
      summary: Get simulation personas
      description: 'Retrieve simulation personas that match the given filters.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only simulation personas that the authenticated user has `Simulation:GetSimulationPersona` permission for will be retrieved.'
      operationId: get-simulation-personas
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the simulation personas to retrieve.
          default: []
          title: Id
        description: The IDs of the simulation personas to retrieve.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          minimum: 0
          description: The maximum number of simulation personas to return.
          default: 50
          title: Limit
        description: The maximum number of simulation personas to return.
      - name: continuation_token
        in: query
        required: false
        schema:
          type: integer
          description: The continuation token from the previous request used to retrieve the next page of simulation personas.
          default: 0
          title: Continuation Token
        description: The continuation token from the previous request used to retrieve the next page of simulation personas.
      - name: is_deleted
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the simulation persona is deleted.
          title: Is Deleted
        description: Whether the simulation persona is deleted.
      - name: role
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The roles of the simulation personas.
          default: []
          title: Role
        description: The roles of the simulation personas.
      - name: creator
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The creators of the simulation personas to retrieve. Each value must be of the format `org_id,user_id`.
          default: []
          title: Creator
        description: The creators of the simulation personas to retrieve. Each value must be of the format `org_id,user_id`.
      - name: tag
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The tags of the simulation personas to retrieve. Each value must be of the format `key:value`. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
          default: []
          title: Tag
        description: The tags of the simulation personas to retrieve. Each value must be of the format `key:value`. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The fields to sort the sets by. Supported fields are `updated_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
          default: []
          title: Sort By
        description: The fields to sort the sets by. Supported fields are `updated_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__get_simulation_personas__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
  /v1/{organization}/simulation/persona/{simulation_persona_id}/version/:
    post:
      tags:
      - Simulation
      summary: Create a new simulation persona version
      description: 'Create a new version of the simulation persona.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:ModifySimulationPersona` for the simulation persona.'
      operationId: create-simulation-persona-version
      parameters:
      - name: simulation_persona_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation persona to create a version for.
          title: Simulation Persona Id
        description: The ID of the simulation persona to create a version for.
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            exclusiveMinimum: 1
          - type: 'null'
          description: The version number of the new version. If specified, this endpoint throws an error if the next version in the database doesn't equal to the value of this parameter.
          title: Version
        description: The version number of the new version. If specified, this endpoint throws an error if the next version in the database doesn't equal to the value of this parameter.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_persona_version__Request'
      responses:
        '201':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_persona_version__Response'
        '422':
          description: Invalid request path parameter, request query parameter, or request body failed validation.
        '404':
          description: The specified organization or simulation persona does not exist.
        '400':
          description: The specified version number is not the expected next version to be created.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 100 requests per minute for this endpoint.
    get:
      tags:
      - Simulation
      summary: Get simulation persona versions
      description: 'Retrieve versions of a simulation persona.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:GetSimulationPersona` for the simulation persona.'
      operationId: get-simulation-persona-versions
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_persona_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation persona to get versions for.
          title: Simulation Persona Id
        description: The ID of the simulation persona to get versions for.
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The versions of the simulation persona to retrieve. One can specify an exact version to retrieve, which is either the version number or `latest`, which retrieves the latest version. Alternatively, one can specify a range of inclusive lower and upper bound for the version number separated by `-`, and every version within the range would be retrieved.
          examples:
          - '1'
          - 1-latest
          - 2-5
          - latest
          title: Version
        description: The versions of the simulation persona to retrieve. One can specify an exact version to retrieve, which is either the version number or `latest`, which retrieves the latest version. Alternatively, one can specify a range of inclusive lower and upper bound for the version number separated by `-`, and every version within the range would be retrieved.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 10
          exclusiveMinimum: 0
          description: The maximum number of simulation persona versions to return.
          default: 10
          title: Limit
        description: The maximum number of simulation persona versions to return.
      - name: continuation_token
        in: query
        required: false
        schema:
          type: integer
          description: The continuation token from the previous request used to retrieve the next page of simulation persona versions.
          default: 0
          title: Continuation Token
        description: The continuation token from the previous request used to retrieve the next page of simulation persona versions.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The fields to sort the versions by. Supported fields are `version`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
          default: []
          title: Sort By
        description: The fields to sort the versions by. Supported fields are `version`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__get_simulation_persona_versions__Response'
        '404':
          description: The specified organization or simulation persona does not exist.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
  /v1/{organization}/simulation/persona/{simulation_persona_id}/:
    post:
      tags:
      - Simulation
      summary: Update a simulation persona
      description: 'Update a simulation persona.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:ModifySimulationPersona` for the persona to update.'
      operationId: update-simulation-persona
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_persona_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation persona to update
          title: Simulation Persona Id
        description: The ID of the simulation persona to update
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__update_simulation_persona__Request'
      responses:
        '204':
          description: Succeeded.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '404':
          description: The specified organization or simulation persona does not exist.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 100 requests per minute for this endpoint.
    delete:
      tags:
      - Simulation
      summary: Delete a simulation persona
      description: 'Delete a simulation persona. This endpoint only soft-deletes the simulation persona so any existing references to it would still be valid.

        However, they cannot be used in any new simulations.


        This endpoint will error if the simulation persona is used in any simulation unit tests.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:DeleteSimulationPersona` on the simulation persona to delete.'
      operationId: delete-simulation-persona
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_persona_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation persona to delete.
          title: Simulation Persona Id
        description: The ID of the simulation persona to delete.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '204':
          description: Succeeded.
        '422':
          description: Invalid request path parameter failed validation.
        '404':
          description: The specified organization or simulation persona does not exist.
        '400':
          description: The specified simulation persona is used in a simulation unit test.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 100 requests per minute for this endpoint.
  /v1/{organization}/simulation/scenario/{simulation_scenario_id}/version/:
    get:
      tags:
      - Simulation
      summary: Get simulation scenario versions
      description: 'Retrieve the versions of a simulation scenario.


        #### Permissions

        This endpoint requires the following permissions:

        - `Simulation:GetSimulationScenario` for the simulation scenario.'
      operationId: get-simulation-scenario-versions
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_scenario_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation scenario to get versions for.
          title: Simulation Scenario Id
        description: The ID of the simulation scenario to get versions for.
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The versions of the simulation scenario to retrieve. One can specify an exact version to retrieve, which is either the version number or `latest`, which retrieves the latest version. Alternatively, one can specify a range of inclusive lower and upper bound for the version number separated by `-`, and every version within the range would be retrieved.
          examples:
          - '1'
          - 1-latest
          - 2-5
          - latest
          title: Version
        description: The versions of the simulation scenario to retrieve. One can specify an exact version to retrieve, which is either the version number or `latest`, which retrieves the latest version. Alternatively, one can specify a range of inclusive lower and upper bound for the version number separated by `-`, and every version within the range would be retrieved.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 10
          exclusiveMinimum: 0
          description: The maximum number of simulation scenario versions to return.
          default: 10
          title: Limit
        description: The maximum number of simulation scenario versions to return.
      - name: continuation_token
        in: query
        required: false
        schema:
          type: integer
          description: The continuation token from the previous request used to retrieve the next page of simulation scenario version.
          default: 0
          title: Continuation Token
        description: The continuation token from the previous request used to retrieve the next page of simulation scenario version.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The fields to sort the versions by. Supported fields are `version`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
          default: []
          title: Sort By
        description: The fields to sort the versions by. Supported fields are `version`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__get_simulation_scenario_versions__Response'
        '404':
          description: The specified organization or simulation scenario does not exist.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 500 requests per minute for this endpoint.
    post:
      tags:
      - Simulation
      summary: Create a new simulation scenario version
      description: 'Create a new version of the simulation scenario.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:ModifySimulationScenario` for the simulation scenario.'
      operationId: create-simulation-scenario-version
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_scenario_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation scenario to create a version for.
          title: Simulation Scenario Id
        description: The ID of the simulation scenario to create a version for.
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            exclusiveMinimum: 1
          - type: 'null'
          description: The version number of the new version. If specified, this endpoint throws an error if the next version in the database doesn't equal to the value of this parameter.
          title: Version
        description: The version number of the new version. If specified, this endpoint throws an error if the next version in the database doesn't equal to the value of this parameter.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_scenario_version__Request'
      responses:
        '201':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_scenario_version__Response'
        '422':
          description: Invalid request path parameter, request query parameter, or request body failed validation.
        '404':
          description: The specified organization or simulation scenario does not exist.
        '400':
          description: The specified version number is not the expected next version to be created.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 500 requests per minute for this endpoint.
  /v1/{organization}/simulation/scenario/:
    post:
      tags:
      - Simulation
      summary: Create a simulation scenario
      description: 'Create a simulation scenario.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:CreateSimulationScenario` for the simulation scenario.

        * `Simulation:ModifySimulationScenario` for the simulation scenario.'
      operationId: create-simulation-scenario
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_scenario__Request'
      responses:
        '201':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_scenario__Response'
        '404':
          description: The specified organization was not found.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '409':
          description: A simulation scenario with this name already exists.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 500 requests per minute for this endpoint.
    get:
      tags:
      - Simulation
      summary: Get simulation scenarios
      description: 'Retrieve simulation scenarios that match the given filters.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only simulation scenarios that the authenticated user has `Simulation:GetSimulationScenario` permission for will be retrieved.'
      operationId: get-simulation-scenarios
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the simulation scenarios to retrieve.
          default: []
          title: Id
        description: The IDs of the simulation scenarios to retrieve.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 0
          description: The maximum number of simulation scenarios to return.
          default: 50
          title: Limit
        description: The maximum number of simulation scenarios to return.
      - name: continuation_token
        in: query
        required: false
        schema:
          type: integer
          description: The continuation token from the previous request used to retrieve the next page of simulation scenarios.
          default: 0
          title: Continuation Token
        description: The continuation token from the previous request used to retrieve the next page of simulation scenarios.
      - name: is_deleted
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the simulation scenario is deleted.
          title: Is Deleted
        description: Whether the simulation scenario is deleted.
      - name: creator
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The creators of the simulation scenarios. Each value must be of the format `org_id,user_id`.
          default: []
          title: Creator
        description: The creators of the simulation scenarios. Each value must be of the format `org_id,user_id`.
      - name: tag
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The tags of the simulation scenarios. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means to match any value. If `value` is empty, it matches against when the value is `None`.
          default: []
          title: Tag
        description: The tags of the simulation scenarios. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means to match any value. If `value` is empty, it matches against when the value is `None`.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The fields to sort the sets by. Supported fields are `updated_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
          default: []
          title: Sort By
        description: The fields to sort the sets by. Supported fields are `updated_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__get_simulation_scenarios__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 200 requests per minute for this endpoint.
  /v1/{organization}/simulation/scenario/{simulation_scenario_id}/:
    post:
      tags:
      - Simulation
      summary: Update a simulation scenario
      description: 'Update a simulation scenario.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:ModifySimulationScenario` on the simulation scenario.'
      operationId: update-simulation-scenario
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_scenario_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation scenario to update.
          title: Simulation Scenario Id
        description: The ID of the simulation scenario to update.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__update_simulation_scenario__Request'
      responses:
        '204':
          description: Succeeded.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '404':
          description: The specified organization or simulation scenario does not exist.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 500 requests per minute for this endpoint.
    delete:
      tags:
      - Simulation
      summary: Delete a simulation scenario
      description: 'Delete a simulation scenario. This endpoint only soft-deletes the simulation scenario so any existing references to it would still be valid.

        However, they cannot be used in any new simulations.


        This endpoint will error if the simulation scenario is used in any simulation unit tests.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:DeleteSimulationScenario` on the simulation scenario to delete.'
      operationId: delete-simulation-scenario
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_scenario_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation scenario to delete.
          title: Simulation Scenario Id
        description: The ID of the simulation scenario to delete.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '204':
          description: Succeeded
        '422':
          description: Invalid request path parameter failed validation.
        '404':
          description: The specified organization or simulation scenario does not exist.
        '400':
          description: The specified simulation scenario is used in a simulation unit test.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 500 requests per minute for this endpoint.
  /v1/{organization}/simulation/persona/search:
    get:
      tags:
      - Simulation
      summary: Search simulation personas
      description: 'Search for simulation personas that match the given filters and contain the given query in its name and the background of its latest version. Only the top 50 results will be returned. The results

        will be sorted by the relevance of the search query.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only simulation personas that the authenticated user has `Simulation:GetSimulationPersona` permission for will be retrieved.'
      operationId: search-simulation-personas
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: query
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/amigo_lib__pydantic__base_model__StrippedNonemptyString__1'
          description: The query to search for. Any simulation personas containing the terms in its name and the background of its latest version would be returned.
        description: The query to search for. Any simulation personas containing the terms in its name and the background of its latest version would be returned.
      - name: role
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The roles of the simulation personas.
          default: []
          title: Role
        description: The roles of the simulation personas.
      - name: creator
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The creators of the simulation personas. Each value must be of the format `org_id,user_id`.
          default: []
          title: Creator
        description: The creators of the simulation personas. Each value must be of the format `org_id,user_id`.
      - name: tag
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The tags of the simulation personas. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
          default: []
          title: Tag
        description: The tags of the simulation personas. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__search_simulation_personas__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
  /v1/{organization}/simulation/scenario/search:
    get:
      tags:
      - Simulation
      summary: Search simulation scenarios
      description: 'Search for simulation scenarios that match the given filters and contain the given query in its name. Only the top 50 results will be returned. The results

        will be sorted by the relevance of the search query.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only simulation scenarios that the authenticated user has `Simulation:GetSimulationScenario` permission for will be retrieved.'
      operationId: search-simulation-scenarios
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: query
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/amigo_lib__pydantic__base_model__StrippedNonemptyString__1'
          description: The query to search for. Any simulation scenarios containing the terms in its name would be returned.
        description: The query to search for. Any simulation scenarios containing the terms in its name would be returned.
      - name: creator
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The creators of the simulation scenarios. Each value must be of the format `org_id,user_id`.
          default: []
          title: Creator
        description: The creators of the simulation scenarios. Each value must be of the format `org_id,user_id`.
      - name: tag
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The tags of the simulation scenarios. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
          default: []
          title: Tag
        description: The tags of the simulation scenarios. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__search_simulation_scenarios__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
  /v1/{organization}/simulation/unit_test/:
    post:
      tags:
      - Simulation
      summary: Create a simulation unit test
      description: 'Create a new simulation unit test.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:CreateSimulationUnitTest` for the unit test to create.'
      operationId: create-simulation-unit-test
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_unit_test__Request'
      responses:
        '201':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_unit_test__Response'
        '422':
          description: Invalid request path parameter or request body failed validation.
        '409':
          description: A unit test with this name already exists.
        '404':
          description: The specified organization, service, persona, scenario, metric, or service version set was not found.
        '400':
          description: The metric type of the success criterion does not match the metric type of the metric.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 500 requests per minute for this endpoint.
    get:
      tags:
      - Simulation
      summary: Get simulation unit tests
      description: 'Retrieve the simulation unit tests that match the given filters.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only simulation unit tests that the authenticated user has `Simulation:GetSimulationUnitTest` permission for will be retrieved.'
      operationId: get-simulation-unit-tests
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the simulation unit tests to retrieve.
          default: []
          title: Id
        description: The IDs of the simulation unit tests to retrieve.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 500
          minimum: 0
          description: The maximum number of simulation unit tests to return.
          default: 50
          title: Limit
        description: The maximum number of simulation unit tests to return.
      - name: continuation_token
        in: query
        required: false
        schema:
          type: integer
          description: The continuation token from the previous request used to retrieve the next page of simulation unit tests.
          default: 0
          title: Continuation Token
        description: The continuation token from the previous request used to retrieve the next page of simulation unit tests.
      - name: is_deleted
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the simulation unit test is deleted.
          title: Is Deleted
        description: Whether the simulation unit test is deleted.
      - name: service_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the services that the simulation unit tests run on.
          default: []
          title: Service Id
        description: The IDs of the services that the simulation unit tests run on.
      - name: persona_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the personas that the simulation unit tests use.
          default: []
          title: Persona Id
        description: The IDs of the personas that the simulation unit tests use.
      - name: scenario_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the scenarios that the simulation unit tests use.
          default: []
          title: Scenario Id
        description: The IDs of the scenarios that the simulation unit tests use.
      - name: metric_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the metrics that the simulation unit tests use.
          default: []
          title: Metric Id
        description: The IDs of the metrics that the simulation unit tests use.
      - name: creator
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The creators of the simulation unit tests. Each value must be of the format `org_id,user_id`.
          default: []
          title: Creator
        description: The creators of the simulation unit tests. Each value must be of the format `org_id,user_id`.
      - name: tag
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The tags of the simulation unit tests. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
          default: []
          title: Tag
        description: The tags of the simulation unit tests. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The fields to sort the sets by. Supported fields are `updated_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
          default: []
          title: Sort By
        description: The fields to sort the sets by. Supported fields are `updated_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__get_simulation_unit_tests__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 200 requests per minute for this endpoint.
  /v1/{organization}/simulation/unit_test/{simulation_unit_test_id}/:
    post:
      tags:
      - Simulation
      summary: Update a simulation unit test
      description: 'Modify the specified simulation unit test.


        #### Permissions

        * `Simulation:ModifySimulationUnitTest` for the unit test to update.'
      operationId: update-simulation-unit-test
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_unit_test_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation unit test to update.
          title: Simulation Unit Test Id
        description: The ID of the simulation unit test to update.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__update_simulation_unit_test__Request'
      responses:
        '204':
          description: Succeeded.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '404':
          description: The specified organization, simulation unit test, service, persona, scenario, metric, or service version set was not found.
        '400':
          description: The metric type of the success criterion does not match the metric type of the metric.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 500 requests per minute for this endpoint.
    delete:
      tags:
      - Simulation
      summary: Delete a simulation unit test
      description: 'Delete a simulation unit test. The unit test is soft-deleted and all references to it are still valid. Any scheduled unit test runs

        would still continue as expected, but no new run can be created.


        This endpoint will error if the simulation unit test is used in any simulation unit test set.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:DeleteSimulationUnitTest` for the simulation unit test to delete.'
      operationId: delete-simulation-unit-test
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_unit_test_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation unit test to delete.
          title: Simulation Unit Test Id
        description: The ID of the simulation unit test to delete.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '204':
          description: Succeeded.
        '422':
          description: Invalid request path parameter failed validation.
        '404':
          description: The specified organization or simulation unit test was not found or is inactive.
        '400':
          description: The specified simulation unit test is used in a simulation unit test set.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 500 requests per minute for this endpoint.
  /v1/{organization}/simulation/unit_test/search/:
    get:
      tags:
      - Simulation
      summary: Search simulation unit tests
      description: 'Search for simulation unit tests that match the given filters and whose name or description contains the specified query.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only simulation unit tests that the authenticated user has `Simulation:GetSimulationUnitTest` permission for will be retrieved.'
      operationId: search-simulation-unit-tests
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: query
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/amigo_lib__pydantic__base_model__StrippedNonemptyString__1'
          description: The query to search for. Any simulation unit tests containing the terms in its name would be returned.
        description: The query to search for. Any simulation unit tests containing the terms in its name would be returned.
      - name: creator
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The creators of the simulation unit tests. Each value must be of the format `org_id,user_id`.
          default: []
          title: Creator
        description: The creators of the simulation unit tests. Each value must be of the format `org_id,user_id`.
      - name: tag
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The tags of the simulation unit tests. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
          default: []
          title: Tag
        description: The tags of the simulation unit tests. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
      - name: service_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the services that the simulation unit tests run on.
          default: []
          title: Service Id
        description: The IDs of the services that the simulation unit tests run on.
      - name: persona_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the personas that the simulation unit tests use.
          default: []
          title: Persona Id
        description: The IDs of the personas that the simulation unit tests use.
      - name: scenario_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the scenarios that the simulation unit tests use.
          default: []
          title: Scenario Id
        description: The IDs of the scenarios that the simulation unit tests use.
      - name: metric_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the metrics that the simulation unit tests use.
          default: []
          title: Metric Id
        description: The IDs of the metrics that the simulation unit tests use.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__search_simulation_unit_tests__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
  /v1/{organization}/simulation/unit_test_set/:
    get:
      tags:
      - Simulation
      summary: Get simulation unit test sets
      description: 'Retrieve the simulation unit test sets that match the given filters.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only simulation unit test sets that the authenticated user has `Simulation:GetSimulationUnitTestSet` permission for will be retrieved.'
      operationId: get-simulation-unit-test-sets
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the simulation unit test sets to retrieve.
          default: []
          title: Id
        description: The IDs of the simulation unit test sets to retrieve.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 20
          minimum: 0
          description: The maximum number of simulation unit test sets to return.
          default: 20
          title: Limit
        description: The maximum number of simulation unit test sets to return.
      - name: continuation_token
        in: query
        required: false
        schema:
          type: integer
          description: The continuation token from the previous request used to retrieve the next page of simulation unit test sets.
          default: 0
          title: Continuation Token
        description: The continuation token from the previous request used to retrieve the next page of simulation unit test sets.
      - name: is_deleted
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the simulation unit test set is deleted.
          title: Is Deleted
        description: Whether the simulation unit test set is deleted.
      - name: unit_test_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the unit tests that are part of the simulation unit test sets.
          default: []
          title: Unit Test Id
        description: The IDs of the unit tests that are part of the simulation unit test sets.
      - name: creator
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The creators of the simulation unit test sets.
          default: []
          title: Creator
        description: The creators of the simulation unit test sets.
      - name: tag
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The tags of the simulation unit test sets. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
          default: []
          title: Tag
        description: The tags of the simulation unit test sets. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The fields to sort the sets by. Supported fields are `updated_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
          default: []
          title: Sort By
        description: The fields to sort the sets by. Supported fields are `updated_at`. Specify a `+` before the field name to indicate ascending sorting and `-` for descending sorting. Multiple fields can be specified to break ties.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__get_simulation_unit_test_sets__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
    post:
      tags:
      - Simulation
      summary: Create a simulation unit test set
      description: 'Create a new simulation unit test set.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:CreateSimulationUnitTestSet` for the simulation unit test set.'
      operationId: create-simulation-unit-test-set
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_unit_test_set__Request'
      responses:
        '201':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__create_simulation_unit_test_set__Response'
        '404':
          description: The specified organization or unit test was not found.
        '422':
          description: Invalid request path parameter or request body failed validation.
        '409':
          description: A simulation unit test set with the same name already exists.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
  /v1/{organization}/simulation/unit_test_set/search/:
    get:
      tags:
      - Simulation
      summary: Search simulation unit test sets
      description: 'Search for simulation unit test sets that match the given filters and whose name or description contains the specified query.


        #### Permissions

        This endpoint may be impacted by the following permissions:

        * Only simulation unit test sets that the authenticated user has `Simulation:GetSimulationUnitTestSet` permission for will be retrieved.'
      operationId: search-simulation-unit-test-sets
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: query
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/amigo_lib__pydantic__base_model__StrippedNonemptyString__1'
          description: The query to search for. Any simulation unit test sets containing the terms in its name or description would be returned.
        description: The query to search for. Any simulation unit test sets containing the terms in its name or description would be returned.
      - name: creator
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The creators of the simulation unit test sets. Each value must be of the format `org_id,user_id`.
          default: []
          title: Creator
        description: The creators of the simulation unit test sets. Each value must be of the format `org_id,user_id`.
      - name: tag
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The tags of the simulation unit test sets. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
          default: []
          title: Tag
        description: The tags of the simulation unit test sets. Must be specified using the syntax `key:value`, which means to match all sets with the given `key` and `value` pair among its tags. If `value` is `*`, it means the `value` does not matter. If `value` is empty, it matches against when the value is `None`.
      - name: unit_test_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the unit tests that are part of the simulation unit test sets.
          default: []
          title: Unit Test Id
        description: The IDs of the unit tests that are part of the simulation unit test sets.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__search_simulation_unit_test_set__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
  /v1/{organization}/simulation/unit_test_set/{simulation_unit_test_set_id}:
    post:
      tags:
      - Simulation
      summary: Update a simulation unit test set
      description: 'Update a simulation unit test set.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:ModifySimulationUnitTestSet` for the simulation unit test set.'
      operationId: update-simulation-unit-test-set
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_unit_test_set_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation unit test set to update.
          title: Simulation Unit Test Set Id
        description: The ID of the simulation unit test set to update.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/src__app__endpoints__simulation__update_simulation_unit_test_set__Request'
      responses:
        '204':
          description: Succeeded.
        '404':
          description: The specified organization or simulation unit test set was not found
        '422':
          description: Invalid request path parameter or request body failed validation.
        '409':
          description: A simulation unit test set with this name already exists.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
    delete:
      tags:
      - Simulation
      summary: Delete a simulation unit test set
      description: 'Delete a simulation unit test set.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:DeleteSimulationUnitTestSet` for the simulation unit test set.'
      operationId: delete-simulation-unit-test-set
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: simulation_unit_test_set_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation unit test set to delete.
          title: Simulation Unit Test Set Id
        description: The ID of the simulation unit test set to delete.
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '204':
          description: Succeeded.
        '422':
          description: Invalid request path parameter failed validation.
        '404':
          description: The specified organization or simulation unit test set was not found
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
  /v1/{organization}/simulation/unit_test_set_run/:
    get:
      tags:
      - Simulation
      summary: Get simulation unit test set runs
      description: 'Retrieves simulation unit test set runs.


        This endpoint may be impacted by the following permissions:

        * Only the runs that the authenticated user has the `Simulation:GetSimulationUnitTestSetRun` permission for will be returned.

        * The `unit_test_run_specs` and `unit_test_run_results` fields are only populated if the authenticated user has the `Simulation:GetSimulationUnitTestSet` permission.

        * The fields `scenario_version_info`, `persona_version_info`, `metrics_to_evaluate` in `unit_test_run_specs` and the field `metric_evaluation_results` in `unit_test_run_results` are only populated if the authenticated user has the `Simulation:GetSimulationUnitTest` permission.'
      operationId: get-simulation-unit-test-set-runs
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The ID of the simulation unit test set run to retrieve.
          default: []
          title: Id
        description: The ID of the simulation unit test set run to retrieve.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 50
          minimum: 0
          description: The maximum number of simulation unit test set runs to return.
          default: 50
          title: Limit
        description: The maximum number of simulation unit test set runs to return.
      - name: continuation_token
        in: query
        required: false
        schema:
          type: integer
          description: The continuation token from the previous request used to retrieve the next page of simulation unit test set runs.
          default: 0
          title: Continuation Token
        description: The continuation token from the previous request used to retrieve the next page of simulation unit test set runs.
      - name: creator
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          description: The creators of the simulation unit test set runs to retrieve. Each value must be of the format `org_id,user_id`.
          default: []
          title: Creator
        description: The creators of the simulation unit test set runs to retrieve. Each value must be of the format `org_id,user_id`.
      - name: sort_by
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          description: The fields to sort the sets by. Supported fields are `created_at`.
          default: []
          title: Sort By
        description: The fields to sort the sets by. Supported fields are `created_at`.
      - name: simulation_unit_test_set_id
        in: query
        required: false
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: ^[a-f0-9]{24}$
          description: The IDs of the simulation unit test sets that the simulation unit test set runs belong to.
          default: []
          title: Simulation Unit Test Set Id
        description: The IDs of the simulation unit test sets that the simulation unit test set runs belong to.
      - name: is_completed
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the simulation unit test set run is completed.
          title: Is Completed
        description: Whether the simulation unit test set run is completed.
      - name: failed_metrics
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the simulation unit test set run has failed due to failing metrics. Note that this field could be `True` even if the run is still ongoing -- it simply means some unit test runs have failed.
          title: Failed Metrics
        description: Whether the simulation unit test set run has failed due to failing metrics. Note that this field could be `True` even if the run is still ongoing -- it simply means some unit test runs have failed.
      - name: errored
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the simulation unit test set run has encountered an error.
          title: Errored
        description: Whether the simulation unit test set run has encountered an error.
      - name: created_after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter for simulation unit test set runs created at or after this time (inclusive).
          title: Created After
        description: Filter for simulation unit test set runs created at or after this time (inclusive).
      - name: created_before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter for simulation unit test set runs created at or before this time (inclusive).
          title: Created Before
        description: Filter for simulation unit test set runs created at or before this time (inclusive).
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
          title: X-Mongo-Cluster-Name
        description: The Mongo cluster name to perform this request in. This is usually not needed unless the organization does not exist yet in the Amigo organization infra config database.
      - name: Sec-WebSocket-Protocol
        in: header
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
          title: Sec-Websocket-Protocol
      responses:
        '200':
          description: Succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/src__app__endpoints__simulation__get_simulation_unit_test_set_runs__Response'
        '404':
          description: Specified organization is not found.
        '422':
          description: Invalid request path parameter or request query parameter failed validation.
        '401':
          description: Invalid authorization credentials.
        '403':
          description: Missing required permissions.
        '503':
          description: The service is going through temporary maintenance.
        '429':
          description: The user has exceeded the rate limit of 50 requests per minute for this endpoint.
    post:
      tags:
      - Simulation
      summary: Create a simulation unit test set run
      description: 'Create a run for a simulation unit test set. The user must not already have an unfinished run for this simulation unit test set.


        #### Permissions

        This endpoint requires the following permissions:

        * `Simulation:CreateSimulationUnitTestSetRun` for the test set run.'
      operationId: create-simulation-unit-test-set-run
      parameters:
      - name: organization
        in: path
        required: true
        schema:
          type: string
          title: Organization
      - name: x-mongo-cluster-name
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
[...]
