openapi: 3.2.0
info:
  title: Platform Config API
  description: Management API for the Amigo platform. Provides CRUD operations for workspaces, API keys, and resources.
  version: 1.0.0
servers:
- url: https://api.platform.amigo.ai
  description: Production
security:
- BearerAuth: []
tags:
- name: Config
paths:
  /v1/{workspace_id}/config/client:
    get:
      tags:
      - Config
      summary: Get client configuration
      description: Return client-safe configuration for the authenticated workspace.
      operationId: get-client-config
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientConfigResponse'
      parameters:
      - name: workspace_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Workspace Id
components:
  schemas:
    ClientConfigResponse:
      properties:
        google_maps_api_key:
          anyOf:
          - type: string
            maxLength: 512
          - type: 'null'
          title: Google Maps Api Key
      type: object
      title: ClientConfigResponse
      description: 'Client-safe configuration values.


        Values returned here are safe to embed in browser-side code.

        API keys are restricted by HTTP referrer or similar origin

        controls at the provider level.'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key issued via `POST /v1/{workspace_id}/api-keys`. Pass the returned `api_key` value as a Bearer token.
