openapi: 3.2.0
info:
  title: Platform Auth API
  description: Management API for the Amigo platform. Provides CRUD operations for workspaces, API keys, and resources.
  version: 1.0.0
servers:
- url: https://api.platform.amigo.ai
  description: Production
security:
- BearerAuth: []
tags:
- name: Auth
paths:
  /v1/auth/me:
    get:
      tags:
      - Auth
      summary: Get auth info
      description: Return information about the currently authenticated API key, including expiration.
      operationId: get-auth-info
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthInfoResponse'
        '401':
          description: Missing or invalid API key.
components:
  schemas:
    AuthInfoResponse:
      properties:
        workspace_id:
          type: string
          format: uuid
          title: Workspace Id
        key_id:
          type: string
          title: Key Id
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
        expires_at:
          type: string
          format: date-time
          title: Expires At
        expires_in_seconds:
          type: integer
          title: Expires In Seconds
      type: object
      required:
      - workspace_id
      - key_id
      - name
      - expires_at
      - expires_in_seconds
      title: AuthInfoResponse
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API key issued via `POST /v1/{workspace_id}/api-keys`. Pass the returned `api_key` value as a Bearer token.
